<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104656405924-8p1kivodgrb6h0qjdg4e7bn86netemo8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104656405924-8p1kivodgrb6h0qjdg4e7bn86netemo8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>104656405924-lp17v0d1noa5eospg6dh06j9kktd14kq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqauNLPA3jU9cjhPSZOZn29YkWTnbF-TU</string>
	<key>GCM_SENDER_ID</key>
	<string>104656405924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yodependo.app</string>
	<key>PROJECT_ID</key>
	<string>yodependo</string>
	<key>STORAGE_BUCKET</key>
	<string>yodependo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104656405924:ios:775dc69d350f890c77ed31</string>
	<key>DATABASE_URL</key>
	<string>https://yodependo.firebaseio.com</string>
</dict>
</plist>